# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [3]:
d1 = np.random.randint(1,4,(100,))
d2 = np.random.randint(1,3,(100,))
d3 = np.random.randint(1e4, 3e4, (100,))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [6]:
pd.concat([pd.Series(d1),pd.Series(d2),pd.Series(d3)], axis=1)

    0  1      2
0   2  1  21709
1   3  2  25562
2   2  2  13929
3   3  2  18471
4   1  1  20082
.. .. ..    ...
95  3  2  28240
96  2  1  28339
97  1  1  22240
98  2  2  17130
99  1  1  27769

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [7]:
pd.concat([pd.Series(d1),pd.Series(d2),pd.Series(d3)], axis=1).columns = ['bedrs', 'bathrs', 'price_sqr_meter']

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [11]:
bigcolumn = pd.concat([pd.Series(d1),pd.Series(d2),pd.Series(d3)], axis=0)
bigcolumn

0         2
1         3
2         2
3         3
4         1
      ...
95    28240
96    28339
97    22240
98    17130
99    27769
Length: 300, dtype: int64

### Step 6. Oops, it seems it is going only until index 99. Is it true?

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [12]:
bigcolumn.index = range(300)

In [13]:
bigcolumn

0          2
1          3
2          2
3          3
4          1
       ...
295    28240
296    28339
297    22240
298    17130
299    27769
Length: 300, dtype: int64