# 前言

1. df.loc[:,'school':'guardian'].head() 可以这样切片

# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv')

In [4]:
df.shape

(395, 33)

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [7]:
df.loc[:,'school':'guardian'].head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

### Step 5. Create a lambda function that will capitalize strings.

In [8]:
f = lambda x: x.upper()

### Step 6. Capitalize both Mjob and Fjob

In [10]:
for each in ['Mjob', 'Fjob']:
    df[each] = df[each].apply(f)

In [11]:
df[['Mjob', 'Fjob']]

         Mjob      Fjob
0     AT_HOME   TEACHER
1     AT_HOME     OTHER
2     AT_HOME     OTHER
3      HEALTH  SERVICES
4       OTHER     OTHER
..        ...       ...
390  SERVICES  SERVICES
391  SERVICES  SERVICES
392     OTHER     OTHER
393  SERVICES     OTHER
394     OTHER   AT_HOME

[395 rows x 2 columns]

### Step 7. Print the last elements of the data set.

In [13]:
df.iloc[:,-1]

0       6
1       6
2      10
3      15
4      10
       ..
390     9
391    16
392     7
393    10
394     9
Name: G3, Length: 395, dtype: int64

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise